* {
    box-sizing: border-box; 
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
    box-sizing: border-box; 
    background-color: hsl(212, 11%, 9%);
  }

  a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}

  /* p {
    text-align: left;
    font-family: 'Space Mono', monospace;
    color: hsl(114, 89%, 39%);
    padding: 1px 13px 1px 20px;
    font-size: 20px;
  
    overflow-x: hidden;
    overflow-y: auto;
  } */
  
  .article {
  padding: 40px;
  }
  
  .story {
  margin: 0;
  padding: 40px;
  width: 100%;
  height: 800px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: hsla(212, 11%, 16%, 80%);
  
  text-align:left;
  font-family: 'Space Mono', monospace;
  color: hsl(114, 89%, 39%);
  padding: 20px 40px;
  font-size: 20px;
  }
  
  .sidenav {
  flex: 1;
  text-align: center;
  font-family: 'Space Mono', monospace;
  color: white;
  font-size: 30px;
  background-color: hsl(114, 47%, 40%);
  }  
  
  h2 {
  text-align: center;
  font-family: 'Space Mono', monospace;
  color: white;
  font-size: 30px;   
  border: 2px solid white;
  padding: 10px 1px;
  background-color: hsl(212, 11%, 9%);
  border-style: solid;
  margin: auto;
  justify-content: center;
  padding: 5px 40px;
  }
  
  .sidenav {
    display: flex;
    flex-direction: column;
    flex: 5;
  }
  
  h1{
    font-size: 60px;
    /*margin-left: 25px;*/
    font-family: 'Space Mono', monospace;
    color: white;
    border: 2px solid white;
    padding: 2px 1px;
    text-align: center;
    border-style: solid;
    margin: 30px 500px 30px 200px;
    /* margin: 30px 370px 30px 100px; */
  }
  
  
  .inner-row {
    display: flex;
    flex-direction: row;
  }
  
  .inner-col {
    flex: 4;
  }
  
  .inner-row article {
    min-height: 60vh;
    padding: 1px 90px 1px 100px;
    
  }
  
  .inner-row aside {
    flex: 1;
    border: 1px solid hsla(195, 66%, 42%, 0%);
    padding: 0px 65px 0px 0px;
  }
  
  header, footer {
    height: 20vh;
    border: 1px solid #248EB2;
  }
  
  header, footer, article, nav, aside {
    padding: 1em;
  }
  
  
  /* ASIDE */
  
  .progress {
    text-align: center;
    font-family: 'Space Mono', monospace;
    color: white;
    font-size: 20px;   
    padding: 10px 1px;
    background-color: hsl(212, 11%, 9%);
  }
  .progress-box{
    color: white;
    border: 2px solid white;
    padding: 10px 1px;
    background-color: hsl(212, 11%, 9%);
    border: 2px solid white;
    height: 45px;
  }
  
  .progress-box-inside {
    padding: 3px;
    border: 2px solid white;
    height: 20px;
    background-color: hsl(114, 47%, 40%);
    margin-right: 90px;
    width: 71%;
  }
  
  .complete {
    text-align: center;
    font-family: 'Space Mono', monospace;
    color: white;
    font-size: 20px;   
    padding: 10px 1px;
  }
  
  .complete-box{
    color: white;
    border: 2px solid white;
    padding: 10px 1px;
    background-color: hsl(212, 11%, 9%);
    border: 2px solid white;
    height: 45px;
    line-height: 21px;
  
    text-align: center;
    font-family: 'Space Mono', monospace;
    color: white;
    font-size: 20px;   
    padding: 10px 1px;
  }
  
  .circle {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-color: hsl(212, 11%, 9%);
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
  }
  
  .hour {
  border: 1px solid white;
  background-color: white;
  width: 2px;
  height: 60px;
  margin: 14px;
  justify-content: center;
  -webkit-animation:spin 15s linear infinite;
  -moz-animation:spin 15s linear infinite;
  animation:spin 15s linear infinite;
  transform-origin: bottom center;
  }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
  
  }
  .word-count {
  text-align: center;
  font-family: 'Space Mono', monospace;
  color: white;
  font-size: 20px;   
  padding: 10px 1px;
  }
  
  .word-count-box{
  color: white;
  border: 2px solid white;
  padding: 10px 1px;
  background-color: hsl(212, 11%, 9%);
  border: 2px solid white;
  height: 45px;
  line-height: 21px;
  
  text-align: center;
  font-family: 'Space Mono', monospace;
  color: white;
  font-size: 20px;   
  padding: 10px 1px;
  }
  
  .characters {
  text-align: center;
  font-family: 'Space Mono', monospace;
  color: white;
  font-size: 20px;   
  padding: 10px 1px;
  }
  
  .characters-box{
  color: white;
  border: 2px solid white;
  padding: 10px 1px;
  background-color: hsl(212, 11%, 9%);
  border: 2px solid white;
  height: 45px;
  line-height: 21px;
  
  text-align: center;
  font-family: 'Space Mono', monospace;
  color: white;
  font-size: 20px;   
  padding: 10px 1px;
  }
  
  /* CIRCUIT BOARD */
  
  .circuit {
  border: 0px solid white;
  width: 90%;
  height: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  }
  
  .chapter-1 {
    height: 48px;
    width: 48px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    border: 4px solid hsl(212, 11%, 9%);
    padding: 5px;
    margin: 20px auto;
    justify-content: center;
    top: 10px;
  
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    color: hsl(212, 11%, 9%);
    position: static;

  }
  
  .chapter-2 {
    height: 48px;
    width: 48px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    border: 4px solid hsl(212, 11%, 9%);
    padding: 5px;
    margin: 20px auto;
    justify-content: center;
    top: 30px;
  
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    color: hsl(212, 11%, 9%);
    position: static;
  }
  
  .chapter-3 {
    height: 48px;
    width: 48px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    border: 4px solid hsl(212, 11%, 9%);
    padding: 5px;
    margin: 20px auto;
    justify-content: center;
    top: 30px;
  
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    color: hsl(212, 11%, 9%);
    position: static;
  }

  .chapter-4 {
    height: 48px;
    width: 48px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    border: 4px solid hsl(212, 11%, 9%);
    padding: 5px;
    margin: 20px auto;
    justify-content: center;
    top: 30px;
  
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    color: hsl(212, 11%, 9%);
    position: static;
  }

  .chapter-5 {
    height: 48px;
    width: 48px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    border: 4px solid hsl(212, 11%, 9%);
    padding: 5px;
    margin: 20px auto;
    justify-content: center;
    top: 30px;
  
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    color: hsl(212, 11%, 9%);
    position: static;
  }

  .chapter-6 {
    height: 48px;
    width: 48px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    border: 4px solid hsl(212, 11%, 9%);
    padding: 5px;
    margin: 20px auto;
    justify-content: center;
    top: 30px;
  
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    color: hsl(212, 11%, 9%);
    position: static;
  }
  
  .chapter-7 {
    height: 48px;
    width: 48px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    border: 4px solid hsl(212, 11%, 9%);
    padding: 5px;
    margin: 20px auto;
    justify-content: center;
    top: 30px;
  
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    color: hsl(212, 11%, 9%);
    position: static;
  }

  /* @media (max-width: 900px) {
  
  .outer-col-1 {
    flex: 1;
    text-align: center;
    font-family: 'Space Mono', monospace;
    color: white;
    font-size: 30px;
    background-color: hsl(114, 47%, 40%);
    display: none;
    }
  
  .inner-row {   
    flex-direction: column-reverse;
  }
  
  */
  
  #menu {
    display:none;
  }
  
  
  @media screen and (max-width: 414px) {
    
    #menu {
    display:block;

    display: block;
    z-index: 10;
    color: white;
    position: absolute;
    right: 10%;
    }

    .body {
      display: block;
      flex: none;
    }
    
    a:-webkit-any-link {
        color: -webkit-link;
        cursor: pointer;
        text-decoration: none;
    }

    .h1 {
      font-size: 40px;
      font-family: 'Space Mono', monospace;
      color: hsl(114, 89%, 39%);
      border: none;
      padding: 20px 0 10px 0px;
      text-align: center;
      border-style: none;
      margin: 0;
      justify-content: center;
      background-color: hsla(212, 11%, 16%, 80%);
    }
  
  
    .story {
      background-color: hsla(212, 11%, 16%, 80%);
      font-size: 16px;
    }
  
    .inner-row {
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
    }
  
    .inner-col {
      flex: 4;
    }
  
    .inner-row article {
      min-height: 60vh;
      padding: 5px 45px;
    }
  
    .inner-row aside {
      flex: 1;
      border: 1px solid hsla(195, 66%, 42%, 0%);
      padding: 25px;
      width: 100%;
      margin: auto;
    }
  
    header, footer {
      height: 20vh;
      border: 1px solid #248EB2;
    }
  
    /*
    .sidenav {
      display: none;
    } */
  
    .chapter-1 {
        border: 4px solid hsl(114, 89%, 39%);
    }

    .chapter-2 {
        border: 4px solid hsl(114, 89%, 39%);
    }

    .chapter-3 {
        border: 4px solid hsl(114, 89%, 39%);
    }
    .chapter-4 {
        border: 4px solid hsl(114, 89%, 39%);
    }

    .chapter-5 {
        border: 4px solid hsl(114, 89%, 39%);
    }

    .chapter-6 {
        border: 4px solid hsl(114, 89%, 39%);
    }

    .chapter-7 {
        border: 4px solid hsl(114, 89%, 39%);
    }

    /* HAMBURGER BELOW */
    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: -80px;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
      text-align:center;
      
    }
    
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    
    }
    
    .sidenav a:hover{
      color: #f1f1f1;
    }
    
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
        
/*   
        @media screen and (max-height: 450px) {
          .sidenav {padding-top: 15px;}
          .sidenav a {font-size: 18px;}
        } */
  
  /* HAMBURGER ABOVE */
  
    .outer-col-2{
      margin: auto;
    }
  
  
    .clock {
      display: none;
    }
  
    .progress{
      padding: 0px;
      display: none;
    }
  
    .progress-box{
      display: none;
      font-size: 19px;
    }
  
    .progress-box-inside {
      display: none;
    }
  
    .complete{
      padding: 0px;
      font-size: 19px;
    }
  
    .complete-box{
      font-size: 19px;
    }
  
    .word-count{
      padding: 0px;
      font-size: 19px;
    }
  
    .word-count-box{
      font-size: 19px;
    }
  
    .characters{
      padding: 0px;
      font-size: 19px;
    }
  
    .characters-box{
      font-size: 19px;
    }
  
  }