body {
    background-color: hsl(212, 11%, 9%);
    margin: 20px;
}
/* 
h1 {
    font-size: 90px;
    text-align: center;
    font-family: 'Space Mono', monospace;
    color: hsl(114, 89%, 39%);
} */

h1 {
    text-align: center;
    font-family: 'Space Mono', monospace;
    color: white;
    font-size: 30px;   
    border: 2px solid white;
    padding: 10px 1px;
    background-color: hsl(212, 11%, 9%);
    border-style: solid;
    width: 200px;
    position: fixed;
    top: 200px;
    left: 200px;
  }

content {
    border: 1px solid #248EB2;
    max-width: 335px;
    width: 100%;
    box-sizing: border-box;
    margin: 25px auto;
    text-align: center;
}

/* .start-button {
   * height: 50px;
    width: 100px;
    border: 1px;

border: 5px solid #336699;
    border-radius: 10px;
    background-color: white;
    width: 300px;
    height: 200px;
    display: block;
    margin: 0 auto;
    position: relative;
    font-size: 55px;
    font-family: monospace;
    text-align: center;

}

*/

.chapter-1 {
    height: 48px;
    width: 48px;
    background-color: hsl(212, 11%, 9%);
    border-radius: 50%;
    display: inline-block;
    border: 4px solid hsl(114, 47%, 40%);
    padding: 5px;
    
    position: fixed;
    top: 400px;
    left: 450px;
      
    font-family: 'Space Mono', monospace;
    font-size: 26px;
    color: white;
    text-align: center;
    line-height: 45px;
}
    
.chapter-2 {
    height: 48px;
    width: 48px;
    background-color: hsl(212, 11%, 9%);
    border-radius: 50%;
    display: inline-block;
    border: 4px solid hsl(114, 47%, 40%);
    padding: 5px;
      
    position: fixed;
    top: 550px;
    left: 580px;
        
    font-family: 'Space Mono', monospace;
    font-size: 26px;
    color: white;
    text-align: center;
    line-height: 45px;
}
    
.chapter-3 {
    height: 48px;
    width: 48px;
    background-color: hsl(212, 11%, 9%);
    border-radius: 50%;
    display: inline-block;
    border: 4px solid hsl(114, 47%, 40%);
    padding: 5px;
      
    position: fixed;
    top: 200px;
    left: 580px;
        
    font-family: 'Space Mono', monospace;
    font-size: 26px;
    color: white;
    text-align: center;
    line-height: 45px;
}

.chapter-4 {
    height: 48px;
    width: 48px;
    background-color: hsl(212, 11%, 9%);
    border-radius: 50%;
    display: inline-block;
    border: 4px solid hsl(114, 47%, 40%);
    padding: 5px;
      
    position: fixed;
    top: 330px;
    left: 750px;
        
    font-family: 'Space Mono', monospace;
    font-size: 26px;
    color: white;
    text-align: center;
    line-height: 45px;
}

.chapter-5 {
    height: 48px;
    width: 48px;
    background-color: hsl(212, 11%, 9%);
    border-radius: 50%;
    display: inline-block;
    border: 4px solid hsl(114, 47%, 40%);
    padding: 5px;
      
    position: fixed;
    top: 580px;
    left: 870px;
        
    font-family: 'Space Mono', monospace;
    font-size: 26px;
    color: white;
    text-align: center;
    line-height: 45px;
}

.chapter-6 {
    height: 48px;
    width: 48px;
    background-color: hsl(212, 11%, 9%);
    border-radius: 50%;
    display: inline-block;
    border: 4px solid hsl(114, 47%, 40%);
    padding: 5px;
      
    position: fixed;
    top: 420px;
    left: 1000px;
        
    font-family: 'Space Mono', monospace;
    font-size: 26px;
    color: white;
    text-align: center;
    line-height: 45px;
}

.chapter-7 {
    height: 48px;
    width: 48px;
    background-color: hsl(212, 11%, 9%);
    border-radius: 50%;
    display: inline-block;
    border: 4px solid hsl(114, 47%, 40%);
    padding: 5px;
      
    position: fixed;
    top: 220px;
    left: 1100px;
        
    font-family: 'Space Mono', monospace;
    font-size: 26px;
    color: white;
    text-align: center;
    line-height: 45px;
}

/* JOINING LINES */
.chapter-1-line1 {
    border: 1px solid white;
    background-color: white;
    width: 2px;
    height: 140px;
    position: absolute;
    display: block;
    top:290px;
    left: 300px;
  } 

.chapter-1-line2 {
    border: 1px solid white;
    background-color: white;
    width: 155px;
    height: 2px;
    position: fixed;
    display: block;
    top:430px;
    left: 300px;
 } 

 .chapter-2-line1 {
 border: 1px solid white;
 background-color: white;
 width: 155px;
 height: 2px;
 position: absolute;
 display: block;
 top:500px;
 left: 465px;
 transform: rotate(45deg);
}

.chapter-2-line2 {
    border: 1px solid white;
    background-color: white;
    width: 2px;
    height: 300px;
    position: absolute;
    display: block;
    top:260px;
    left: 610px;
   }

.chapter-3-line1 {
    border: 1px solid white;
    background-color: white;
    width: 160px;
    height: 2px;
    position: fixed;
    display: block;
    top:230px;
    left: 620px;
}

.chapter-3-line2 {
    border: 1px solid white;
    background-color: white;
    width: 2px;
    height: 130px;
    position: absolute;
    display: block;
    top:230px;
    left: 780px;
} 

.chapter-4-line1 {
    border: 1px solid white;
    background-color: white;
    width: 2px;
    height: 130px;
    position: absolute;
    display: block;
    top:400px;
    left: 780px;
} 