body {
    background-color: hsl(212, 11%, 9%);
    margin: 20px;
}
/* 
h1 {
    font-size: 90px;
    text-align: center;
    font-family: 'Space Mono', monospace;
    color: hsl(114, 89%, 39%);
} */

h1 {
    text-align: center;
    font-family: 'Space Mono', monospace;
    color: hsl(114, 47%, 40%);
    font-size: 40px;   
    margin: auto; 
    padding: 6px 0px 40px 0px;
}

h2 {
    text-align: center;
    font-family: 'Space Mono', monospace;
    color: white;
    font-size: 30px;   
    border: 2px solid white;
    padding: 10px 1px;
    background-color: hsl(212, 11%, 9%);
    border-style: solid;
    width: 200px;
    position: fixed;
    top: 200px;
    left: 200px;
  }

.content {
    /* border: 1px solid #248EB2; */
    max-width: 335px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 50px;
    position: fixed
}

/* .start-button {
   * height: 50px;
    width: 100px;
    border: 1px;

border: 5px solid #336699;
    border-radius: 10px;
    background-color: white;
    width: 300px;
    height: 200px;
    display: block;
    margin: 0 auto;
    position: relative;
    font-size: 55px;
    font-family: monospace;
    text-align: center;

}

*/

   a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.chapter-1 {
    height: 48px;
    width: 48px;
    background-color: hsl(212, 11%, 9%);
    border-radius: 50%;
    display: inline-block;
    border: 4px solid hsl(114, 47%, 40%);
    padding: 5px;
    
    position: fixed;
    top: 400px;
    left: 420px;
      
    font-family: 'Space Mono', monospace;
    font-size: 26px;
    color: white;
    text-align: center;
    line-height: 47px;
}
    
.chapter-1:hover {
    border:4px solid hsl(114, 47%, 40%);
    background-color: hsl(114, 47%, 40%);
    color: hsl(212, 11%, 9%);
}

.chapter-2 {
    height: 48px;
    width: 48px;
    background-color: hsl(212, 11%, 9%);
    border-radius: 50%;
    display: inline-block;
    border: 4px solid hsl(114, 47%, 40%);
    padding: 5px;
      
    position: fixed;
    top: 550px;
    left: 580px;
        
    font-family: 'Space Mono', monospace;
    font-size: 26px;
    color: white;
    text-align: center;
    line-height: 47px;
}
   
.chapter-2:hover {
    border:4px solid hsl(114, 47%, 40%);
    background-color: hsl(114, 47%, 40%);
    color: hsl(212, 11%, 9%);
}

.chapter-3 {
    height: 48px;
    width: 48px;
    background-color: hsl(212, 11%, 9%);
    border-radius: 50%;
    display: inline-block;
    border: 4px solid hsl(114, 47%, 40%);
    padding: 5px;
      
    position: fixed;
    top: 200px;
    left: 580px;
        
    font-family: 'Space Mono', monospace;
    font-size: 26px;
    color: white;
    text-align: center;
    line-height: 47px;
}

.chapter-3:hover {
    border:4px solid hsl(114, 47%, 40%);
    background-color: hsl(114, 47%, 40%);
    color: hsl(212, 11%, 9%);
}

.chapter-4 {
    height: 48px;
    width: 48px;
    background-color: hsl(212, 11%, 9%);
    border-radius: 50%;
    display: inline-block;
    border: 4px solid hsl(114, 47%, 40%);
    padding: 5px;
      
    position: fixed;
    top: 330px;
    left: 750px;
        
    font-family: 'Space Mono', monospace;
    font-size: 26px;
    color: white;
    text-align: center;
    line-height: 47px;
}

.chapter-4:hover {
    border:4px solid hsl(114, 47%, 40%);
    background-color: hsl(114, 47%, 40%);
    color: hsl(212, 11%, 9%);
}

.chapter-5 {
    height: 48px;
    width: 48px;
    background-color: hsl(212, 11%, 9%);
    border-radius: 50%;
    display: inline-block;
    border: 4px solid hsl(114, 47%, 40%);
    padding: 5px;
      
    position: fixed;
    top: 580px;
    left: 920px;
        
    font-family: 'Space Mono', monospace;
    font-size: 26px;
    color: white;
    text-align: center;
    line-height: 47px;
}

.chapter-5:hover {
    border:4px solid hsl(114, 47%, 40%);
    background-color: hsl(114, 47%, 40%);
    color: hsl(212, 11%, 9%);
}

.chapter-6 {
    height: 48px;
    width: 48px;
    background-color: hsl(212, 11%, 9%);
    border-radius: 50%;
    display: inline-block;
    border: 4px solid hsl(114, 47%, 40%);
    padding: 5px;
      
    position: fixed;
    top: 420px;
    left: 1100px;
        
    font-family: 'Space Mono', monospace;
    font-size: 26px;
    color: white;
    text-align: center;
    line-height: 47px;
}

.chapter-6:hover {
    border:4px solid hsl(114, 47%, 40%);
    background-color: hsl(114, 47%, 40%);
    color: hsl(212, 11%, 9%);
}

.chapter-7 {
    height: 48px;
    width: 48px;
    background-color: hsl(212, 11%, 9%);
    border-radius: 50%;
    display: inline-block;
    border: 4px solid hsl(114, 47%, 40%);
    padding: 5px;
      
    position: fixed;
    top: 220px;
    left: 1200px;
        
    font-family: 'Space Mono', monospace;
    font-size: 26px;
    color: white;
    text-align: center;
    line-height: 47px;
}

.chapter-7:hover {
    border:4px solid hsl(114, 47%, 40%);
    background-color: hsl(114, 47%, 40%);
    color: hsl(212, 11%, 9%);
}

/* JOINING LINES */
.chapter-1-line1 {
    border: 1px solid hsl(114, 47%, 40%);
    background-color: hsl(114, 47%, 40%);
    width: 2px;
    height: 139px;
    position: fixed;
    display: block;
    top:293px;
    left: 300px;
  } 

.chapter-1-line2 {
    border: 1px solid hsl(114, 47%, 40%);
    background-color: hsl(114, 47%, 40%);
    width: 155px;
    height: 2px;
    position: fixed;
    display: block;
    top:430px;
    left: 300px;
 } 

 .chapter-2-line1 {
 border: 1px solid hsl(114, 47%, 40%);
 background-color: hsl(114, 47%, 40%);
 width: 200px;
 height: 2px;
 position: fixed;
 display: block;
 top:500px;
 left: 410px;
 transform: rotate(45deg);
}

.chapter-3-line1 {
    border: 1px solid hsl(114, 47%, 40%);
    background-color: hsl(114, 47%, 40%);
    width: 2px;
    height: 300px;
    position: fixed;
    display: block;
    top:260px;
    left: 610px;
   }

.chapter-4-line1 {
    border: 1px solid hsl(114, 47%, 40%);
    background-color: hsl(114, 47%, 40%);
    width: 160px;
    height: 2px;
    position: fixed;
    display: block;
    top:230px;
    left: 620px;
}

.chapter-4-line2 {
    border: 1px solid hsl(114, 47%, 40%);
    background-color: hsl(114, 47%, 40%);
    width: 2px;
    height: 130px;
    position: fixed;
    display: block;
    top:230px;
    left: 780px;
} 

.chapter-5-line1 {
    border: 1px solid hsl(114, 47%, 40%);
    background-color: hsl(114, 47%, 40%);
    width: 2px;
    height: 220px;
    position: fixed;
    display: block;
    top:390px;
    left: 780px;
} 

.chapter-5-line2 {
    border: 1px solid hsl(114, 47%, 40%);
    background-color: hsl(114, 47%, 40%);
    width: 140px;
    height: 2px;
    position: fixed;
    display: block;
    top: 610px;
    left: 780px;
}

.chapter-6-line1 {
    border: 1px solid hsl(114, 47%, 40%);
    background-color: hsl(114, 47%, 40%);
    width: 2px;
    height: 180px;
    position: fixed;
    display: block;
    top:450px;
    left: 950px;
}

.chapter-6-line2 {
    border: 1px solid hsl(114, 47%, 40%);
    background-color: hsl(114, 47%, 40%);
    width: 150px;
    height: 2px;
    position: fixed;
    display: block;
    top: 450px;
    left: 950px;
}

.chapter-7-line1 {
    border: 1px solid hsl(114, 47%, 40%);
    background-color: hsl(114, 47%, 40%);
    width: 2px;
    height: 180px;
    position: fixed;
    display: block;
    top:250px;
    left: 1130px;
}

.chapter-7-line2 {
    border: 1px solid hsl(114, 47%, 40%);
    background-color: hsl(114, 47%, 40%);
    width: 100px;
    height: 2px;
    position: fixed;
    display: block;
    top:250px;
    left: 1130px;
}

/* CIRCUIT LINE */

.circuitlines-chapter-1-1{
    border: 1px solid white;
    background-color: white;
    width: 60px;
    height: 2px;
    position: fixed;
    display: block;
    top:380px;
    left: 450px;
    transform: rotate(-45deg);
}

.circuitlines-chapter-1-2 {
    border: 1px solid white;
    background-color: white;
    width: 100px;
    height: 2px;
    position: fixed;
    display: block;
    top:230px;
    left: 500px;
}

.circuitlines-chapter-1-3 {
    border: 1px solid white;
    background-color: white;
    width: 2px;
    height: 130px;
    position: fixed;
    display: block;
    top:230px;
    left: 500px;
}

.circuitlines-chapter-3-1{
    border: 1px solid white;
    background-color: white;
    width: 2px;
    height: 110px;
    position: fixed;
    display: block;
    top:120px;
    left: 610px;
}

.circuitlines-chapter-3-2 {
    border: 1px solid white;
    background-color: white;
    width: 280px;
    height: 2px;
    position: fixed;
    display: block;
    top: 120px;
    left: 610px;
}

.circuitlines-chapter-3-3 {
    border: 1px solid white;
    background-color: white;
    width: 2px;
    height: 130px;
    position: fixed;
    display: block;
    top:120px;
    left: 890px;
}

.circuitlines-chapter-3-4 {
    border: 1px solid white;
    background-color: white;
    width: 170px;
    height: 2px;
    position: fixed;
    display: block;
    top:250px;
    left: 890px;
}

.circuitlines-chapter-4-1 {
    border: 1px solid white;
    background-color: white;
    width: 100px;
    height: 2px;
    position: fixed;
    display: block;
    top:390px;
    left: 670px;
    transform: rotate(-45deg);
}

.circuitlines-chapter-4-2 {
    border: 1px solid white;
    background-color: white;
    width: 2px;
    height: 105px;
    position: fixed;
    display: block;
    top: 425px;
    left: 685px;
}

.circuitlines-chapter-4-3 {
    border: 1px solid white;
    background-color: white;
    width: 65px;
    height: 2px;
    position: fixed;
    display: block;
    top:360px;
    left: 800px;
}

.circuitlines-chapter-5-1 {
    border: 1px solid white;
    background-color: white;
    width: 130px;
    height: 2px;
    position: fixed;
    display: block;
    top:575px;
    left: 845px;
    transform: rotate(45deg);
}

.circuitlines-chapter-5-2 {
    border: 1px solid white;
    background-color: white;
    width: 2px;
    height: 170px;
    position: fixed;
    display: block;
    top: 360px;
    left: 865px;
}

.circuitlines-chapter-6-1 {
    border: 1px solid white;
    background-color: white;
    width: 170px;
    height: 2px;
    position: fixed;
    display: block;
    top:385px;
    left: 985px;
    transform: rotate(45deg);
}

.circuitlines-chapter-6-2 {
    border: 1px solid white;
    background-color: white;
    width: 70px;
    height: 2px;
    position: fixed;
    display: block;
    top: 325px;
    left: 940px;
}

.circuitlines-chapter-7-1 {
    border: 1px solid white;
    background-color: white;
    width: 2px;
    height: 80px;
    position: fixed;
    display: block;
    top: 160px;
    left: 1230px;
}

.circuitlines-chapter-7-2 {
    border: 1px solid white;
    background-color: white;
    width: 170px;
    height: 2px;
    position: fixed;
    display: block;
    top:160px;
    left: 1060px;
}

/*.circuitlines-chapter-7-3 {
    border: 1px solid white;
    background-color: white;
    width: 2px;
    height: 70px;
    position: fixed;
    display: block;
    top: 120px;
    left: 1040px;
} */

/* CIRCLES */
.circle-1{
    border-radius: 50%;
    background-color: white;
    width: 20px;
    height: 20px;
    position: fixed;
    top: 520px;
    left: 677px;
}

.circle-2{
    border-radius: 50%;
    background-color: white;
    width: 20px;
    height: 20px;
    position: fixed;
    top: 318px;
    left:930px;
}

.circle-3 {
    border-radius: 50%;
    background-color: white;
    width: 20px;
    height: 20px;
    position: fixed;
    top: 150px;
    left:1050px;
}

.circle-4 {
    border-radius: 50%;
    background-color: white;
    width: 20px;
    height: 20px;
    position: fixed;
    top: 240px;
    left:1050px;
}

@media screen and (max-width: 800px) {

    
    /* .content-out {
        padding: 0px 100px 0px 100px;

    }   */

    .h1 {
        text-align: center;
        margin: auto;
        padding: 0 0 10px 0;
        margin: 30px 0px;
    }

    .h2 {
        margin: auto;
        top: -490px;
        left: 120px;
        background-color: hsl(212, 11%, 9%);
        bottom: 0;
        padding: 5px 25px;
        text-align: center;
        width: 80px;
        height: 30px;
        position: fixed;
        font-size: 20px;
        
    }

    .chapter-1-line2 {
        width: 70px;
        margin: 0px 58px;
    }

    .content {
        align-items: center;
        justify-content: center;
        padding: 100px 0 0 800px;
        margin: auto;
        transform: scale(0.6) rotate(90deg);
        margin: 10px 0px;

    }  

    .chapter-1 {
        transform: rotate(-90deg);
    }

    .chapter-2 {
        transform: rotate(-90deg);
    }

    .chapter-3 {
        transform: rotate(-90deg);

    }

    .chapter-4 {
        transform: rotate(-90deg);
    }

    .chapter-5 {
        transform: rotate(-90deg);
    }

    .chapter-6 {
        transform: rotate(-90deg);
    }

    .chapter-7 {
        transform: rotate(-90deg);
    }




    .chapter-1-line2 {
        left: 317px;
    }
    
    .chapter-1-line1 {
        display: none;
    }

    .circuitlines-chapter-3-1 {
        display: none;
    }

    .circuitlines-chapter-3-2 {
        display: none;
    }

    .circuitlines-chapter-3-3 {
        display: none;
    }

    .circuitlines-chapter-3-4 {
        display: none;
    }

    .circle-3 {
        display: none;
    }

    .circle-4 {
        display: none;
    }

    .circuitlines-chapter-7-1 {
        display: none;
    }

    .circuitlines-chapter-7-2 {
        display: none;
    }

    .circuitlines-chapter-7-3 {
        display: none;
    }


    /*
    .chapter-1-line2 {
        background-color: white;
        border: 1px solid white; 
        width: 2px;
        height: 60px;  
        top: 147px;
        left: 50%;
        right: 50%;
    } */

}

@media screen and (max-width: 414px) {

    .h1 {
        text-align: center;
        margin: auto;
        padding: 0 0 10px 0;
    }

    .h2 {
        margin: auto;
        /* top: -690px;
        left: 115px; 
        position: fixed;
        */
        bottom: 0;
        padding: 5px 25px;
        text-align: center;
        width: 100px;
        position: relative;
        font-size: 20px;

        top: 35px;
        left: 5px;
    }

    .content {
        align-items: center;
        justify-content: center;
        padding: 100px 0 0 800px;
        margin: auto;
        transform: scale(0.6) rotate(90deg);

    }  

    .chapter-1 {
        transform: rotate(-90deg);
    }

    .chapter-2 {
        transform: rotate(-90deg);
    }

    .chapter-3 {
        transform: rotate(-90deg);

    }

    .chapter-4 {
        transform: rotate(-90deg);
    }

    .chapter-5 {
        transform: rotate(-90deg);
    }

    .chapter-6 {
        transform: rotate(-90deg);
    }

    .chapter-7 {
        transform: rotate(-90deg);
    }




    .chapter-1-line2 {
        left: 317px;
    }
    
    .chapter-1-line1 {
        display: none;
    }

    .circuitlines-chapter-3-1 {
        display: none;
    }

    .circuitlines-chapter-3-2 {
        display: none;
    }

    .circuitlines-chapter-3-3 {
        display: none;
    }

    .circuitlines-chapter-3-4 {
        display: none;
    }

    .circle-3 {
        display: none;
    }

    .circle-4 {
        display: none;
    }

    .circuitlines-chapter-7-1 {
        display: none;
    }

    .circuitlines-chapter-7-2 {
        display: none;
    }

    .circuitlines-chapter-7-3 {
        display: none;
    }


    /*
    .chapter-1-line2 {
        background-color: white;
        border: 1px solid white; 
        width: 2px;
        height: 60px;  
        top: 147px;
        left: 50%;
        right: 50%;
    } */

}

