#speechify-global-notifications {
    display: none;
}

body {
	margin: 0px auto;
    padding: 0px auto;
	background-color: black;
	width: 100%;
	display: block;
	overflow: hidden;
	font-family: 'Taprom', cursive;
}

.background {
    /* width: auto;
    height: 100vh; */
    height: auto;
    width: 100%;
    position: absolute;
	z-index: -1;
}
  
.cam {
	width: 500px;
	height: 400px;
	border: 2px solid black;
	position: relative;
	z-index: 2;
	top: 120px;
	background-color: #F0F8FF;
	background: linear-gradient(#8b99a7, #e6f3ff, #8b99a7);
}

video {
    width: 500px;
	height: 400px;
	object-fit: cover;
}

#but {
    /* margin-left: auto;
    margin-left: auto;
    display: block; */
    z-index: 7;
	position: relative;
	top: 150px;
	font-family: 'Taprom', cursive;
	font-size: 18px;
	background-color: #fff7e9;
	border: none;
}

.mirror-button {
	width: 250px;
    height: 120px;
    position: fixed;
    top: 538px;
    z-index: 4;
    margin-left: 37%;
	left: 57px;
	display: block;
}

.titleframe {
    width: 350px;
    height: auto;
    position: fixed;
    top: 0px;
    z-index: 4;
    margin-left: 37%;
	left: 10px;
	display: block;
}

.h1 {
    color: black;
    top: 22px;
	text-align: center;
    position: fixed;
	/* margin-left: 50%;
	margin-right: 50%; */
	margin-left: 44%;
	/* margin-right: 50%; */
	font-size: 25px;
    z-index: 5;
}

.frame {
	width: 680px;
    height: 500px;
    position: fixed;
    top: 85px;
    z-index: 4;
    left: 370px;
	/* opacity: 50%; */
}

.table {
    width: 1100px;
    height: auto;
    position: fixed;
    top: 600px;
    z-index: 4;
    left: 150px;
}

.blue_hair {
    width: 320px;
    height: auto;
    position: absolute;
    top: 180px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: 4;
    left: 580px;
}

.hair-2 {
    width: 320px;
    height: auto;
    position: absolute;
    top: 180px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: 4;
    left: 580px; 
}

.hair-3 {
    width: 320px;
    height: auto;
    position: absolute;
    top: 180px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: 4;
    left: 580px;   
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box
}

.carousel-container {
    width: 60%;
    margin: auto; 
}

.carousel-slide {
    display: flex;
}